/* IMPOSTAZIONI GENERALI */
body {
    background-image: url(../img/sfondo.png);
    font-family: 'Poppins';
}
/* HEADER */
nav li {
    display: block;
    padding: 10px 10px;
    color:white;
}

header {
    padding: 10px;
    text-align: center;
    color: white;
    
}
 .blocco1 {
    background: rgb(83,152,67);
    background: linear-gradient(90deg, rgba(83,152,67,1) 0%, rgba(50,110,149,0.9831582291119573) 0%);
    margin: 0 auto;
    padding: 10px;
    min-width: 100px;
    
}
.blocco1::shadow {
    
    box-shadow: 4px 4px 10px 2px gray ; 
}
a {
    color: white;
    text-decoration: none;
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */
article {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    

}
article h1 {
    font-weight: bold;
    font-size: 30px;
}

article p:first-child {
    color:lightgray;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer p{
    text-align: center;
}
